.bg-light-green{
    background: linear-gradient(to bottom,#55D8C1,rgba(85, 216, 193,0.98));
   /* background-color: #55D8C1; */
}

html{
    font-family: 'Poppins' !important;
}

nav{
    font-size: 1.2rem;
}
.navbar a{
    font-weight: 900;
}
.showcase{
    min-width: 100%;
    min-height: 105vh;
    padding:  100px;
    padding-right: 190px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    background: linear-gradient(to bottom,rgba(85, 216, 193,00.95), rgba(171, 70, 210,0.89)),url("/images/food.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@font-face {
    font-family: "Jelligun";
    src: url("fonts/Jelligun-Regular.eot");
}
    
    
.text{
    font-family: 'Jelligun','Poppins';

    /* font-weight: 900; */
    font-size: 2rem;
    z-index: 10;
    animation: transitionIn 1s;
}
.text h1{
    font-size: 15rem;
    font-weight:900;
}
.text h3{
    font-size: 5rem;
    font-weight: 700;
}


.starting{
    /* margin-left: 20px; */
    margin-top: 10vh;
    min-height: 100vh;
    justify-content: center;
    /* text-align: center; */
}

.starting h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}
.starting p{
    font-size: 1.5rem !important;
}
.starting .row{
    margin-top: 6vh;
}
.starting img{
    height: 80%;
    margin-left:auto;
    margin-right: auto;
    /* height: auto; */
}

#comparison{
    min-height: 105vh;
    /* background-image: url("images/comparison.jpg") linear-gradient(to bottom,rgba(85, 216, 192, 0.548), rgba(170, 70, 210, 0.411)); */
    background-image: linear-gradient(to bottom,rgba(85, 216, 192, 0.89), rgba(170, 70, 210, 0.89)), url("images/comparison.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: fixed;
    clip-path: polygon(0 3%,100% 0,100% 97%,0 100%);
    color: white;
    font-family: 'Poppins';
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#comparison h1{
    font-weight: 900;
    font-size: 4rem;
    /* font-size: larger; */
}

#comparison .intro-text{
    font-weight: 500;
    font-size: 1.3rem;
}

.chart{
    margin-left: auto !important;
    margin-right: auto !important;
}

.chart-container{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(121, 218, 232,0.7);
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-img-berries{
    background-image: url("images/berries.webp");
    background-position: center;
    height:800px;
}



/* recipies section */

.recipies{
    margin-top: 10vh;
    min-height: 100vh;
    justify-content: center;

}

@media screen and (max-width:1200px) {
    .bg-img-berries{
        height:500px;

    }
    .text h1{
        font-size:10rem;
    }
    .chart-container{
        max-width: 100%;
    }
}

@media screen and (max-width:800px) {
    #comparison{
        padding-left: 20px;
        padding-right: 20px;
    }
    #comparison h1{
        font-size: 2rem;
    }
    .showcase{
        padding: 50px;
    }
    .text h1{
        font-size:4rem;
    }
    .starting img{
        width:90%;
        height: auto;
    }
    
}

@keyframes transitionIn{
    from{
        opacity: 0;
        margin-top:400px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}